page-home {
<<<<<<< HEAD
    #radio {
        display: flex;
        flex-direction: row;
        
    }

    #radio 
    .radioInline{
        display: inline-block;
    }
=======
  .remove-border .item-inner{
    border: 0 !important;
  }
>>>>>>> 2d1acdad917023401da41bfc84ec71a0793481ae
}
