page-home {
    #radio {
        display: flex;
        flex-direction: row;
        
    }

    #radio 
    .radioInline{
        display: inline-block;
    }

    #airportSearch{
        padding-left: 0px;
    }
}
